.hidden {
  display: none;
}

.inline {
  display: inline;
}

.column-full {
  width: 100%;
}

.column-80 {
  width: 80%;
}

.col-half {
  width: 50%;
}

.column-20 {
  width: 20%;
}

.column-100 {
  width: 100%;
}

.col-full {
  width: 50%;
}

.col-fourth {
  width: 100%;
}

.col-25 {
  width: 25%;
}

.col-third {
  width: calc(100% / 3);
}

.col-75 {
  width: 75%;
}

@media only screen and (min-width: 687px) {
  .column-full {
    width: 50%;
  }

  .col-75 {
    width: 100%;
  }

  .col-fourth {
    width: 20%;
  }

  .col-full {
    width: 100%;
  }

  .col-25 {
    width: 100%;
  }

  .col-third {
    width: 100%;
  }

  .results-img {
    height: 65%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }

  .card {
    height: 150px;
  }

  .card-no-margin {
    height: 160px;
  }

  .max-height {
    max-height: 110px;
  }

  .card-text {
    padding-top: 10px;
    font-size: 0.9rem;
  }

  .left-align-form {
    text-align: center;
  }

  .dash-font-size {
    font-size: 2rem;
  }

  .form-input {
    width: 62%;
  }

  .hide-big {
    display: none;
  }

  .game-card {
    width: 80%;
    background-color: rgba(255, 255, 255, 0.78);
    margin: 0 auto;
    height: 23rem;
  }

  .lg-game-img {
    max-height: 20rem;
    object-fit: fill;
  }
}

@media only screen and (max-width: 687px) {
  .results-img {
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  .card {
    height: 125px;
  }

  .card-no-margin {
    height: 125px;
  }

  .card-text {
    font-size: 1.5rem;
  }

  .left-align-form {
    text-align: left;
  }

  .hide-img {
    display: none;
  }

  .hide {
    display: none;
  }

  .column-20 {
    width: 100%;
  }

  .center-left-text {
    text-align: center;
  }

  .form-input {
    width: 40%;
  }

  .order-1 {
    order: 2;
  }

  .order-2 {
    order: 1;
  }

  .game-card {
    width: 80%;
    background-color: rgba(255, 255, 255, 0.78);
    margin: 0 auto;
  }
}
